# Always keep this gitignored in public repo. They're not stored locally, but just in case...
tests/prog
tests/prog/
tests/prog/*
.idea/
.pytest_cache/
.mypy_cache/
.tox/
dist/
build/
src/SAPsim.egg-info/
.pypirc
bin/
lib/
pyvenv.cfg
include/
tests/public_prog/ex1.csv
tests/public_prog/ex2.csv
tests/public_prog/README.md
tests/test_example_progs.py
sim.spec
docs/_build
scripts/